﻿<br />
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 table-bordered">
        <h3>Log In</h3>

        <form name="loginForm" role="form" novalidate>
            <div class="form-group" ng-class="{'has-error':loginForm.username.$invalid && !loginForm.username.$pristine}">
                <label>Email</label>
                <input class="form-control" name="username" type="email" ng-model="loginData.username" required />
                <p ng-show="loginForm.username.$error.required && !loginForm.username.$pristine" class="help-block">This is required field.</p>
                <p ng-show="loginForm.username.$error.email && !loginForm.username.$pristine" class="help-block">Email address incorrect.</p>
            </div>
            <div class="form-group" ng-class="{'has-error':loginForm.password.$invalid && !loginForm.password.$pristine}">
                <label>Password</label>
                <input class="form-control" name="password" type="password" ng-model="loginData.password" required />
                <p ng-show="loginForm.password.$error.required && !loginForm.password.$pristine" class="help-block">This is required field.</p>
            </div>
            <div class="form-group">
                <button type="button" id="login" class="btn btn-default" ng-click="login()" ng-disabled="loginForm.$invalid">Log In</button>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>