﻿<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Manage Users
            </h4>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-default" ng-click="reloadTable()">Reload users</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr />
                    <table class="table table-hover table-condensed table-striped" ng-table="tableParams">
                        <tr ng-repeat="row in users">
                            <td data-title="'Email'">{{row.Email}}</td>
                            <td data-title="'Is Admin'">{{row.IsAdmin | yesNo }}</td>
                            <td data-title="'Is Manager'">{{row.IsManager | yesNo }}</td>
                            <td data-title="'Edit'">
                                <div class="buttons" ng-show="editVisibility(row)">
                                    <button type="button" class="btn btn-primary"
                                            ng-click="openUpdateModal(row, $index)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger"
                                            ng-click="deleteClick(row, $index)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="manageUserModal.html">

    <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="manageUserForm" role="form" novalidate>
            <div class="form-group">
                <label for="inputName" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="dataContent.Email" name="Name" id="inputName" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="selectRole" class="col-sm-3 control-label">Is Admin</label>
                <div class="col-sm-9">
                    <input type="checkbox" ng-model="dataContent.IsAdmin" ng-disabled="!isAdmin" />
                    <p ng-show="!isAdmin">Only administrator can update this value. Please contact with administrator to get help</p>
                </div>
            </div>
            <div class="form-group">
                <label for="selectManager" class="col-sm-3 control-label">Is Manager</label>
                <div class="col-sm-9">
                    <input type="checkbox" ng-model="dataContent.IsManager" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-default" ng-click="closeModalClick()">Cancel</button>
        <button type="button" class="btn btn-primary"
                ng-click="saveUser()" ng-disabled="manageUserForm.$invalid">
            Save
        </button>
    </div>
</script>