﻿<br />
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 table-bordered">
        
        <h3>Register</h3>
        <form id="loginForm" name="loginForm" role="form" novalidate>
            <div class="form-group" ng-class="{'has-error':loginForm.username.$invalid && !loginForm.username.$pristine}">
                <label>Email</label>
                <input class="form-control" name="username" type="email" ng-model="registerData.Email" required />
                <p ng-show="loginForm.username.$error.required && !loginForm.username.$pristine" class="help-block">This is required field.</p>
                <p ng-show="loginForm.username.$error.email && !loginForm.username.$pristine" class="help-block">Email address incorrect.</p>
            </div>
            <div class="form-group" ng-class="{'has-error':loginForm.password.$invalid && !loginForm.password.$pristine}">
                <label>Password</label>
                <input class="form-control" name="password" type="password" ng-model="registerData.Password" required />
                <p ng-show="loginForm.password.$error.required && !loginForm.password.$pristine" class="help-block">This is required field.</p>
            </div>
            <div class="form-group" ng-class="{'has-error':loginForm.confirmPassword.$invalid && !loginForm.confirmPassword.$pristine}">
                <label>Confirm Password</label>
                <input class="form-control" name="confirmPassword" type="password" ng-model="registerData.ConfirmPassword" required
                       compare-to="registerData.Password"/>
                <p ng-show="loginForm.confirmPassword.$error.required && !loginForm.confirmPassword.$pristine" class="help-block">This is required field.</p>
                <p ng-show="loginForm.confirmPassword.$invalid && !loginForm.confirmPassword.$pristine" class="help-block">Password and Confirm Password must match.</p>
            </div>
            <div class="form-group">
                <button type="button" id="register" class="btn btn-default" ng-click="register()" ng-disabled="loginForm.$invalid">Register</button>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>