﻿<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                My Savings Deposits Report
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <hr />
                <div class="col-sm-12">
                    Period:
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon">Date:</span>
                        <div class="col-sm-6" style="padding-left:0;">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="filterReport.startDate" is-open="startDateSelector.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                       placeholder="start"
                                       on-open-focus="true" 
                                       ng-change="validateMinDate()"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation(); endDateSelector.opened = false; startDateSelector.opened = true;">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding-left:0;">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="filterReport.endDate" is-open="endDateSelector.opened" datepicker-options="endDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                       placeholder="end"
                                       on-open-focus="true"
                                       ng-change="validateMinDate()" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation(); endDateSelector.opened = true; startDateSelector.opened = false; endDateOptions.minDate = filterReport.startDate;">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <p style="color:red; padding-top:4px;" ng-show="!filterReport.startDate || !filterReport.endDate">
                        Please select period for report
                    </p>
                    <p style="color:red; padding-top:4px;" ng-show="dateInvalid">
                        End Date must be greather or equal than Start Date.
                    </p>
                </div>
            </div><br />
            <div class="row">
                <div class="col-sm-5">
                    <div class="input-group pull-right" style="padding-right:15px;">
                        <button type="button" class="btn btn-success" ng-click="reloadTable()"
                                ng-disabled="!filterReport.startDate || !filterReport.endDate || dateInvalid">Apply</button>&nbsp;
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <hr />
                    <table class="table table-hover table-condensed table-striped" ng-table="tableParams">
                        <tr ng-repeat="row in savingsDepositItems">
                            <td data-title="'Bank Name'">{{row.BankName}}</td>
                            <td data-title="'Account Number'">{{row.AccountNumber}}</td>
                            <td data-title="'Initial Amount'">{{row.InitialAmount | currency:"$":2}}</td>
                            <td data-title="'Start Date'">{{row.StartDate | date:'shortDate'}}</td>
                            <td data-title="'End Date'">{{row.EndDate | date:'shortDate'}}</td>
                            <td data-title="'Interest %'">{{row.InterestPercentage}}</td>
                            <td data-title="'Taxes %'">{{row.TaxesPercentage}}</td>
                            <td ng-class="{green: row.ReportIsGain, red: !row.ReportIsGain}" data-title="'Amount'">{{row.ReportAmount | currency:"$":2}}</td>
                            <td ng-class="{green: row.ReportIsGain, red: !row.ReportIsGain}" data-title="'Amount with taxes'">{{row.ReportAmountWithTaxes | currency:"$":2}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 pull-right">
                    <span style="font-weight:bold">Total Gain: <span style="color:green;">{{totalGain | currency:"$":2}}</span></span><br />
                    <span style="font-weight:bold">Total Loss: <span style="color:red;">{{totalLoss | currency:"$":2}}</span></span>
                </div>
            </div>
        </div>
    </div>
</div>