﻿<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Manage My Savings Deposits
            </h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <button type="button" id="addnew" class="btn btn-primary"
                            ng-click="openAddModal()">
                        Add New
                    </button>
                    <a class="btn btn-primary" ng-href="/report">Generate Report</a>
                </div>
            </div>

            <div class="row">
                <hr />
                <div class="col-sm-12">
                    Filter:
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon">Bank Name:</span>
                        <div class="col-sm-12" style="padding-left:0;">
                            <input name="filterBankName" type="text" class="form-control"
                                   ng-model="filter.bankName" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">Amount:</span>
                        <div class="col-sm-12" style="padding-left:0;">
                            <div range-slider
                                 style="margin:0px; height:34px;border-top-left-radius:0px;border-bottom-left-radius:0px;padding:6px;"
                                 min="filter.range.min"
                                 max="filter.range.max"
                                 model-min="filter.minValue"
                                 model-max="filter.maxValue"
                                 filter="currency:'$'"
                                 showValues="true"
                                 step="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon">Date:</span>
                        <div class="col-sm-6" style="padding-left:0;">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="filter.startDate" is-open="startDateSelector.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                       placeholder="start"
                                       on-open-focus="true" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation(); endDateSelector.opened = false; startDateSelector.opened = true;">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6" style="padding-left:0;">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="filter.endDate" is-open="endDateSelector.opened" datepicker-options="endDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                       placeholder="end"
                                       on-open-focus="true" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation(); endDateSelector.opened = true; startDateSelector.opened = false; endDateOptions.minDate = filter.startDate;">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group pull-right" style="padding-right:15px;">
                        <button type="button" class="btn btn-success" ng-click="reloadTable()">Apply</button>&nbsp;
                        <button type="button" class="btn btn-danger" ng-click="resetFilterClick()">
                            Reset
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <hr />
                    <table id="dataTable" class="table table-hover table-condensed table-striped" ng-table="tableParams">

                        <tr ng-repeat="row in savingsDepositItems">
                            <td data-title="'Bank Name'">{{row.BankName}}</td>
                            <td data-title="'Account Number'">{{row.AccountNumber}}</td>
                            <td data-title="'Initial Amount'">{{row.InitialAmount | currency:"$":2}}</td>
                            <td data-title="'Start Date'">{{row.StartDate | date:'shortDate'}}</td>
                            <td data-title="'End Date'">{{row.EndDate | date:'shortDate'}}</td>
                            <td data-title="'Interest %'">{{row.InterestPercentage}}</td>
                            <td data-title="'Taxes %'">{{row.TaxesPercentage}}</td>
                            <td data-title="'Amount'">{{row.Amount | currency:"$":2}}</td>
                            <td data-title="'Amount with taxes'">{{row.AmountWithTaxes | currency:"$":2}}</td>
                            <td data-title="'Edit'">
                                <div class="buttons">
                                    <button type="button" class="btn btn-primary"
                                            ng-click="openUpdateModal(row, $index)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger"
                                            ng-click="deleteClick(row, $index)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="addSavingsDeposit.html">

    <div id="addSavingsDeposit" class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="addSavingsDepositForm" role="form" novalidate>
            <div id="divBankName" class="form-group" ng-class="{'has-error':addSavingsDepositForm.BankName.$invalid && !addSavingsDepositForm.BankName.$pristine}">
                <label for="inputBankName" class="col-sm-3 control-label">Bank Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="dataContent.BankName" name="BankName" id="inputBankName" required>
                    <p ng-show="addSavingsDepositForm.BankName.$error.required && !addSavingsDepositForm.BankName.$pristine" class="help-block">This is required field.</p>
                </div>
            </div>
            <div id="divAccountNumber" class="form-group" ng-class="{'has-error':addSavingsDepositForm.AccountNumber.$invalid && !addSavingsDepositForm.AccountNumber.$pristine}">
                <label for="inputAccountNumber" class="col-sm-3 control-label">Account Number</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="dataContent.AccountNumber" name="AccountNumber" id="inputAccountNumber" required>
                    <p ng-show="addSavingsDepositForm.AccountNumber.$error.required && !addSavingsDepositForm.AccountNumber.$pristine" class="help-block">This is required field.</p>
                </div>
            </div>
            <div id="divInitialAmount" class="form-group" ng-class="{'has-error':addSavingsDepositForm.InitialAmount.$invalid && !addSavingsDepositForm.InitialAmount.$pristine}">
                <label for="inputInitialAmount" class="col-sm-3 control-label">Initial Amount</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" ng-model="dataContent.InitialAmount" name="InitialAmount" id="inputInitialAmount" required min="0">
                    <p ng-show="addSavingsDepositForm.InitialAmount.$error.required && !addSavingsDepositForm.InitialAmount.$pristine" class="help-block">This is required field.</p>
                    <p ng-show="addSavingsDepositForm.InitialAmount.$error.min && !addSavingsDepositForm.InitialAmount.$pristine" class="help-block">Only positive values are allowed.</p>
                </div>
            </div>
            <div id="divStartDate" class="form-group" ng-class="{'has-error':(addSavingsDepositForm.StartDate.$invalid || dateInvalid) && !addSavingsDepositForm.StartDate.$pristine}">
                <label for="inputName" class="col-sm-3 control-label">Start Date</label>
                <div class="col-md-6" style="padding-right:4px">
                    <p class="input-group">
                        <input type="text" class="form-control" name="StartDate" uib-datepicker-popup ng-model="dataContent.StartDate" is-open="startDateSelector.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                               on-open-focus="true"
                               required 
                               ng-change="validateMinDate()"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation(); endDateSelector.opened = false; startDateSelector.opened = true;">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <p ng-show="addSavingsDepositForm.StartDate.$error.required && !addSavingsDepositForm.StartDate.$pristine" class="help-block">This is required field.</p>
                </div>
            </div>
            <div id="divEndDate" class="form-group" ng-class="{'has-error':(addSavingsDepositForm.EndDate.$invalid || dateInvalid) && !addSavingsDepositForm.EndDate.$pristine}">
                <label for="inputName" class="col-sm-3 control-label">End Date</label>
                <div class="col-md-6" style="padding-right:4px">
                    <p class="input-group">
                        <input type="text" class="form-control" name="EndDate" uib-datepicker-popup ng-model="dataContent.EndDate" is-open="endDateSelector.opened" datepicker-options="endDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                               on-open-focus="true" 
                               required
                               ng-change="validateMinDate()"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation(); startDateSelector.opened = false; endDateSelector.opened = true; endDateOptions.minDate = dataContent.StartDate;">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <p ng-show="addSavingsDepositForm.EndDate.$error.required && !addSavingsDepositForm.EndDate.$pristine" class="help-block">This is required field.</p>
                    <p ng-show="dateInvalid && !addSavingsDepositForm.EndDate.$pristine" class="help-block">End Date must be greather or equals Start Date.</p>
                </div>
            </div>
            <div id="divInterestPercentage" class="form-group" ng-class="{'has-error':addSavingsDepositForm.InterestPercentage.$invalid && !addSavingsDepositForm.InterestPercentage.$pristine}">
                <label for="inputInterestPercentage" class="col-sm-3 control-label">Interest %</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" ng-model="dataContent.InterestPercentage" name="InterestPercentage" id="inputInterestPercentage" required>
                    <p ng-show="addSavingsDepositForm.InterestPercentage.$error.required && !addSavingsDepositForm.InterestPercentage.$pristine" class="help-block">This is required field.</p>
                </div>
            </div>
            <div id="divTaxesPercentage" class="form-group" ng-class="{'has-error':addSavingsDepositForm.TaxesPercentage.$invalid && !addSavingsDepositForm.TaxesPercentage.$pristine}">
                <label for="inputTaxesPercentage" class="col-sm-3 control-label">Taxes %</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" ng-model="dataContent.TaxesPercentage" name="TaxesPercentage" id="inputTaxesPercentage" required min="0">
                    <p ng-show="addSavingsDepositForm.TaxesPercentage.$error.required && !addSavingsDepositForm.TaxesPercentage.$pristine" class="help-block">This is required field.</p>
                    <p ng-show="addSavingsDepositForm.TaxesPercentage.$error.min && !addSavingsDepositForm.TaxesPercentage.$pristine" class="help-block">Only positive values are allowed.</p>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="col-sm-8 pull-left">
            <div class="footrow pull-left" ng-show="dataContent.Id">
                <span class="small">Created at {{dataContent.Created | date:'short'}} by {{dataContent.CreatedByName}}</span>
            </div>
            <br />
            <div class="footrow pull-left" ng-show="dataContent.Id">
                <span class="small">Modified at {{dataContent.Modified | date:'short'}} by {{dataContent.ModifiedByName}}</span>
            </div>
        </div>

        <button type="button" class="btn btn-default" id="close" ng-click="closeModalClick()">Cancel</button>
        <button type="button" class="btn btn-primary" id="save"
                ng-click="save()" ng-disabled="addSavingsDepositForm.$invalid || dateInvalid">
            Save
        </button>
    </div>
</script>
