﻿<ul class="nav navbar-nav navbar-right">
    <li ng-show="!isAuthenticated"><a href="/login">Log In</a></li>
    <li ng-show="!isAuthenticated"><a href="/register">Register</a></li>

    <li ng-show="isAuthenticated"><a href="javascript:false;">Hello {{$storage.tokenData.userName}}</a></li>
    <li ng-show="isAuthenticated"><a href="javascript:false;" ng-click="logout()">Log off</a></li>
</ul>